* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: calc(100%-50px);
  margin: 0 auto;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #d2f2e9;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 75%;
  left: 0;
  z-index: 999;
}
.navigation h1,
.navigation p {
  color: white;
}
.navigation h1 {
  font-size: 1.75rem;
  margin: 0;
}
.navigation header {
  background: black;
  border-bottom-right-radius: 10px;
  border: 1px solid white;
  height: 150px;
  width: 200px;
  padding-bottom: 5%;
}
.navigation header img {
  display: block;
  margin: 2.25rem auto 2.25rem auto;
  height: 70px;
  width: 60%;
  border-radius: 50%;
}
.navigation .dropdown {
  padding: 2%;
  border-top-right-radius: 10px;
  width: 90%;
  height: 80px;
}
.navigation .dropdown .menu {
  width: 80%;
  margin-bottom: 10px;
  display: none;
}
.navigation .dropdown .dropdown-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid gray;
  background-color: black;
}
.navigation .dropdown .dropdown-content a {
  font-size: 1.8rem;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 1%;
}
.navigation .dropdown .dropdown-content a:active {
  background-color: white;
}
.navigation .dropdown .dropdown-content a:hover {
  background-color: #0066cc;
  color: black;
}
.top-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  background-color: black;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
}
.top-content .top-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 600px;
  z-index: 10;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5%;
  border: 4px solid darkgray;
}
.top-content .top-content-wrapper:hover {
  background: #000000;
}
.top-content .top-content-wrapper h1 {
  font-size: 5rem;
  opacity: 1;
}
.top-content .top-content-wrapper p {
  font-size: 2rem;
  opacity: 1;
}
.content-2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50vh;
  background: white;
  margin-top: 1%;
  background-image: url("../img/boardbackground.jpg");
}
.content-2 .content-2-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content-2 .content-2-wrapper .content-box {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5%;
}
