// home page

.top-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  background-color: black;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;

  .top-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 60%;
    z-index: 10;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5%;
    border: 3px solid darkgray;

    // &:hover {
    //   background: rgba(0, 0, 0, 1);
    // }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      height: 80px;
      margin-top: 3%;
      padding: 0.2%;

      // .input-form {
      //   width: 45%;
      //   padding-left: 3px;
      //   font-size: 1.8rem;
      //   height: 30px;
      //   border-radius: 10px;
      //   margin-bottom: 20px;
      //   background-color: lightgray;
      //   opacity: 0;
      // }

      // .hidden {
      //   visibility: hidden;
      // }

      .transition-add {
        transition: all 0.5s ease-in-out;
      }

      .register {
        text-align: center;
        text-decoration: none;
        color: white;
        padding: 2%;
        width: 150px;
        font-size: 1.8rem;
        border: 5px solid white;
        background-color: black;
        border-radius: 15px;

        &:active {
          background-color: white;
          border: 5px solid black;
          color: black;
        }
      }
    }

    h1 {
      font-size: 5rem;
      opacity: 1;
    }

    p {
      font-size: 2rem;
      opacity: 1;
    }
  }

  @media @phone {


    .top-content-wrapper {
      width: 100%;
      height: 350px;

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.8rem;
      }

      h1, p {
        text-align: center;
        width: 100%;
      }

      form {
        width: 100%;
      }
    }
  }
}

.content-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
  padding-top: 0.5%;
  background-image: url("../img/chess-wallpaper6.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  // background-color: #f5f2d0;

  .content-2-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      display: flex;
      flex-direction: column;
      width: 24%;
      height: 300px;
      min-width: 300px;
      border: 1px solid black;
      text-align: center;
      // background-color: white;
      background: rgba(255, 255, 255, 0.85);
      padding: 0.1%;
      

      &:nth-child(odd) {
        // background: black;
        background: rgba(0, 0, 0, 0.85);
        color: white;

        &:hover {
          background: rgba(0, 0, 0, 1);
        }
      }

      &:hover {
        border: 18px solid #FFA500;
        opacity: 1;
        transition: 0.15s;
        background: rgba(255, 255, 255, 1);
      }

      h2 {
        width: 100%;
        text-decoration: underline;
        font-size: 2.8rem;
      }
      
      p {
        width: 100%;
        font-size: 1.8rem;
      }

      img {
        width: 100%;
        margin: 0 auto;
      }

      .graph1 {
        width: 100%;
        height: 100%;
        background-image: url("../img/fig2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }

      .graph2 {
        width: 100%;
        height: 100%;
        background-image: url("../img/chessbot.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }

    }

    
  }

  @media @phone {


    .content-2-wrapper {
      width: 100%;
 
      .card {
        width: 100%;
        background: rgba(255, 255, 255, 1);

        &:nth-child(odd) {
          // background: black;
          background: rgba(0, 0, 0, 1);
          color: white;
      }
    }
  }
}
}