// home page

.top-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  background-color: black;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;

  .top-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 600px;
    z-index: 10;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5%;
    border: 4px solid darkgray;

    &:hover {
      background: rgba(0, 0, 0, 1);
    }

    h1 {
      font-size: 5rem;
      opacity: 1;
    }

    p {
      font-size: 2rem;
      opacity: 1;
    }
  }
}

.content-2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 50vh;
  background: white;
  margin-top: 1%;

  .content-2-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .content-box {
      width: 300px;
      height: 300px;
      border: 1px solid black;
      border-radius: 5%;
      text-align: center;
    }
  }
}