

.navigation {
		display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
		color: #d2f2e9;
    height: 100%;
    overflow-y: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 75%;
    left: 0;
    z-index: 999;
    
    h1, p {
      color: white;
    }

    h1 {
      font-size: 1.75rem;
      margin: 0;
      width: 100%;
    }

    header {
      background: black;
      border-bottom-right-radius: 10px;
      border: 1px solid white;
      height: 150px;
      width: 200px;
      padding-bottom: 5%;
      
      img {
        display: block;
        margin: 2.25rem auto 2.25rem auto;
        height: 70px;
        width: 60%;
        border-radius: 50%;
      }
    }

    .hide {
      display: none;
    }

    .menu {
      padding: 2%;
      border-top-right-radius: 10px;
      width: 90%;
      height: 80px;

      .menu {
        width: 80%;
        margin-bottom: 10px;
        display: none;
      }

      .menu-content {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        border: 1px solid gray;
        background-color: black;

        .link {
          font-size: 1.8rem;
          color: white;
          border-radius: 10px;
          text-decoration: none;
          padding: 1%;

          &:active {
            background-color: white;
          }

          &:hover {
            background-color: white;
            color: black;
          }

        }
      }

      // .dropdown-hidden {
      //   display: none;
      // }
    }

    @media @phone {
      width: 100%;

      header {
        display: none;
      }

      .menu {
        display: none;
      }

      .hide {
        display: flex;
      }
      .drop-menu {
        width: 100%;
        background-image: url("../img/menu.png");
        background-repeat: no-repeat;
        background-size: 90px 90px;
        border: 1px solid white;

        .drop-nav {
          display: flex;
          flex-flow: column nowrap;
          width: calc(100%-90px);
          height: 25%;
          border: 1px solid blue;
        }
      }
    }
	}